*{
    background: #F3F5FC;
    font-size: 'Montserrat';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
    margin-left: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 30px;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.mensaje{
    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 150px;
    border: none;
    text-transform: lowercase;
    outline: none;
    color: #0A3871;
    background-color: #F3F5FC;
}

::placeholder{
    color: #0A3871;
}

.advertencia{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 760px;
}

.advertencia img{
    width: 16px;
    height: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.advertencia p{
    width: 230px;
    height: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.cajaBtn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 800px;
}

.encriptar{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.desencriptar{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    box-sizing: border-box;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.caja-resultado{
    position: absolute;
    width: 400px;
    height: 826px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.resultado{
    background: #FFFFFF;
    background-image: url("imagenes/Muneco.png");
    background-repeat: no-repeat;
    border: none;
    background-position: center;
}

.txtResultado{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 336px;
    height: 122px;
    left: 35px;
    top: 510px;
    background: #FFFFFF;
}

.txtResultado h2{
    width: 336px;
    height: 58px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
 
    text-align: center;

    color: #343A40;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    background: #FFFFFF;
}

.txtResultado p{
    width: 336px;
    height: 48px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    text-align: center;

    color: #495057;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    background: #FFFFFF;
}

.copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 336px;
}

footer{
    padding: 20px;
    color: #F3F5FC;
    background-color: #0A3871;
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.miNombre{
    color: #FA8072;
    font-weight: 700;
}
